.customBtn{
    width: 240px;
    height: 53px;
    background: $theme3;
    border-radius: 119px;
    font-size: 20px;
    line-height: normal;
    color: #0f0f0f;
    transition: .3s ease-in-out;
    &:hover{
        background-color: $theme1;
    }
}
.heroBtn{
    width: 335px;
    height: 60px;
    border: 1px solid $theme3;
    border-radius: 45px;
    font-size: 14px;
    line-height: 21px;
    color: $theme3;
    transition: 0.3s ease-in-out;
    &:hover{
        transform: scale(0.9);
    }
}


