
// heroSection
.heroSection{
    & .heroImg{
        // width: 300px;
        height: 90%;
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
    & .mainCol{
     
        & .animationHero{
            height: 250px;
            & img{
                animation: move 25s;
                animation-iteration-count: infinite;
                animation-delay: 3s;
                position: relative;
              
            }
            @keyframes move {
                0% {
                    top: 0px;
                }
    
                6% {
                    top: calc(-100% - 1.5rem);
                }
    
                12% {
                    top: calc(-100% - 1.5rem);
                }
    
                18% {
                    top: calc(-200% - 3rem);
                }
    
                24% {
                    top: calc(-200% - 3rem);
                }
                30% {
                    top: calc(-300% - 4.5rem);
                }
    
                36% {
                    top: calc(-300% - 4.5rem);
                }
    
                42% {
                    top: calc(-400% - 6rem);
                }
    
                48% {
                    top: calc(-400% - 6rem);
                }
                60% {
                    top: calc(-500% - 7.5rem);
                }
    
                66% {
                    top: calc(-500% - 7.5rem);
                }
    
                72% {
                    top: calc(-600% - 9rem);
                }
    
                78% {
                    top: calc(-600% - 9rem);
                }
    
                84% {
                    top: 0px;
                }
    
                100% {
                    top: 0px;
                }
                
            }
        }
        & .heroContent{
            font-size: 15px;
            line-height: 27px;
            color: $theme3;
        }
    }
    & .heroRightImg{
        // width: 300px;
        & .routetStar{
            height: 180px;
            width: 100%;
            left:-45px ;
            animation: rotate 5s linear infinite;
            transition: 0.3s ease-in-out;
        }
        
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(90deg);
            }

            50% {
                transform: rotate(180deg);
            }

            75% {
                transform: rotate(270deg);
            }

            100% {
                transform: rotate(360deg);
            }

        }
    }

}

// Small devices (landscape phones, 576px and up)
@mixin heroSection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin heroSection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin heroSection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin heroSection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin heroSection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin heroSection-mixin-max-xl() {
    .heroSection{
        & .heroImg{
         
            &:hover{
             
            }
        }
        & .mainCol{
          
            & .animationHero{
           
                & img{
                }
              
            }
            & .heroContent{
              
            }
        }
        & .heroRightImg{
           
            & .routetStar{
          
            }
        }
    
    }
}
// Large devices (desktops, less than 1200px)
@mixin heroSection-mixin-max-lg() {
    .heroSection{
        & .heroImg{
            // height: 74%;
            &:hover{
             
            }
        }
        & .mainCol{
          
            & .animationHero{
           
                & img{
                }
              
            }
            & .heroContent{
              
            }
        }
        & .heroRightImg{
           
            & .routetStar{
                height: 120px;
                right: 20px;
            }
        }
    
    }
}
// Medium devices (tablets, less than 992px)
@mixin heroSection-mixin-max-md() {
    .heroSection{
        & .heroImg{
        //   display: none;
            &:hover{
             
            }
        }
        & .mainCol{
            // width: 700px;
            & .animationHero{
                height: 200px;
                & img{
                }
              
            }
            & .heroContent{
              
            }
            & .heroBtn{
                width: 289px;
                height: 56px;
            }
        }
        & .heroRightImg{
           
            & .routetStar{
              
                
            }
        }
    
    }
}
// Small devices (landscape phones, less than 768px)
@mixin heroSection-mixin-max-sm() {
    .heroSection{
        & .heroImg{
            height: 60%;
            &:hover{
             
            }
        }
        & .mainCol{
            position: absolute;
            z-index: 4;
            & .animationHero{
                
                & img{
                }
              
            }
            & .heroContent{
              
            }
            & .heroBtn{
                
            }
        }
        & .heroRightImg{
           
            & .routetStar{
                height: 150px;
                right: 20px;
            }
        }
    
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin heroSection-mixin-max-xs() {
    .heroSection{
        & .heroImg{
            height: auto;
            &:hover{
             
            }
        }
        & .mainCol{
            
            & .animationHero{
                height: 150px;
                & img{
                }
              
            }
            & .heroContent{
                font-size: 13px;
                line-height: 22px;
            }
            & .heroBtn{
                width: 250px;
                height: 50px;
            }
        }
        & .heroRightImg{
           
            & .routetStar{
          
            }
        }
    
    }
}


// detailSection
.detailSection{
    & .detailHeading{
        font-size: 36px;
        line-height: 44px;
        color: $theme3;
        & .icon{
            top: -4px;
            right: 17px;
        }
    }
    & .detailText{
        font-size: 18px;
        line-height: 25px;
        color: $theme3;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin detailSection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin detailSection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin detailSection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin detailSection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin detailSection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin detailSection-mixin-max-xl() {
    .detailSection{
        & .detailHeading{
         
            & .icon{
              
            }
        }
        & .detailText{
         
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin detailSection-mixin-max-lg() {
    .detailSection{
        & .detailHeading{
            font-size: 30px;
            line-height: 40px;
            & .icon{
              
            }
        }
        & .detailText{
            font-size: 15px;
            line-height: 22px;
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin detailSection-mixin-max-md() {
    .detailSection{
        & .detailHeading{
            font-size: 27px;
            line-height: 38px;
            & .icon{
              
            }
        }
        & .detailText{
            font-size: 14px;
            line-height: 20px;
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin detailSection-mixin-max-sm() {
    .detailSection{
        & .detailHeading{
         font-size: 26px;
         line-height: 33px;
            & .icon{
              right: 78px;
            }
        }
        & .detailText{
         
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin detailSection-mixin-max-xs() {
    .detailSection{
        & .detailHeading{
         font-size: 24px;
            & .icon{
              right: 0px;
            }
        }
        & .detailText{
         font-size: 13px;
        }
    }
}

// carouselSection
.carouselSection{
    & .carouselOwlCard{
        & .item{
            transition: all 0.3s ease-in-out;
            &:hover{
                & .cardArrow{
                    & img{
                        transform: rotate(46deg);
                    }
                }
            }
            & .carouselCard{
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                
            }
            & .carouselContent{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                right: 0;
                background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #0F0F0F 92.71%);
              
                 & .cardArrow{
                    width: 58px;
                    height: 58px;
                    margin-right: 30px;
                    background-color: $theme1;
                    & img{
                        padding: 14px;
                        transition: all 0.3s ease-in-out;
                    }
                 }
            }
            & .cardDetails{
                padding: 80px 15px 50px 27px;
            }
        }
        & .owl-dots{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-top: 35px;
     
            & .owl-dot {
                background-color: $theme3;
                width: 8px;
                height: 8px;
                border-radius: 35px;
                &.active{
                    background-color: $theme1 !important;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin carouselSection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin carouselSection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin carouselSection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin carouselSection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin carouselSection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin carouselSection-mixin-max-xl() {
    .carouselSection{
        & .carouselOwlCard{
            & .item{
               
                &:hover{
                    & .cardArrow{
                        & img{
                        
                        }
                    }
                }
                & .carouselCard{
                    
                }
                & .carouselContent{
           
                  
                     & .cardArrow{
                     
                        & img{
                        
                        }
                     }
                }
                & .cardDetails{
                   
                }
            }
            & .owl-dots{
               
         
                & .owl-dot {
                
                    &.active{
                 
                    }
                }
            }
        }
    }

}
// Large devices (desktops, less than 1200px)
@mixin carouselSection-mixin-max-lg() {
    .carouselSection{
        & .carouselOwlCard{
            & .item{
               
                &:hover{
                    & .cardArrow{
                        & img{
                        
                        }
                    }
                }
                & .carouselCard{
                    
                }
                & .carouselContent{
           
                  
                     & .cardArrow{
                     
                        & img{
                        
                        }
                     }
                }
                & .cardDetails{
                   
                }
            }
            & .owl-dots{
               
         
                & .owl-dot {
                
                    &.active{
                 
                    }
                }
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin carouselSection-mixin-max-md() {
    .carouselSection{
        & .carouselOwlCard{
            & .item{
               
                &:hover{
                    & .cardArrow{
                        & img{
                        
                        }
                    }
                }
                & .carouselCard{
                    
                }
                & .carouselContent{
           
                  
                     & .cardArrow{
                     
                        & img{
                        
                        }
                     }
                }
                & .cardDetails{
                   
                }
            }
            & .owl-dots{
               
         
                & .owl-dot {
                
                    &.active{
                 
                    }
                }
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin carouselSection-mixin-max-sm() {
    .carouselSection{
        & .carouselOwlCard{
            & .item{
               
                &:hover{
                    & .cardArrow{
                        & img{
                        
                        }
                    }
                }
                & .carouselCard{
                    
                }
                & .carouselContent{
           
                  
                     & .cardArrow{
                     
                        & img{
                        
                        }
                     }
                }
                & .cardDetails{
                   
                }
            }
            & .owl-dots{
               
         
                & .owl-dot {
                
                    &.active{
                 
                    }
                }
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin carouselSection-mixin-max-xs() {
    .carouselSection{
        & .carouselOwlCard{
            & .item{
               
                &:hover{
                    & .cardArrow{
                        & img{
                        
                        }
                    }
                }
                & .carouselCard{
                    
                }
                & .carouselContent{
           
                  
                     & .cardArrow{
                     
                        & img{
                            padding: 18px;
                        }
                     }
                }
                & .cardDetails{
                    padding: 70px 15px 27px 27px;
                   & .heading{
                    font-size: 26px;
                    line-height: 33px;
                   }
                   & .text{
                    font-size: 13px;
                   }
                }
            }
            & .owl-dots{
               
         
                & .owl-dot {
                
                    &.active{
                 
                    }
                }
            }
        }
    }
}

// stapSection
.stapSection{
    & .stapImg{
    //    max-width: 470px;
    //    width: 100%;
    //     height: 100%;
    }
    & .stapContent{
        & .heading{
            font-size: 42px;
            line-height: 51px;
            color: $theme1;
        }
        & .text{
            font-size: 18px;
            line-height: 27px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin stapSection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin stapSection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin stapSection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin stapSection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin stapSection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin stapSection-mixin-max-xl() {
    .stapSection{
        & .stapImg{
         
        }
        & .stapContent{
            & .heading{
          
            }
            & .text{
              
            }
        }
    }

}
// Large devices (desktops, less than 1200px)
@mixin stapSection-mixin-max-lg() {
    .stapSection{
        & .head{
            font-size: 32px;
        }
        & .stapImg{
            
        }
        & .stapContent{
            & .heading{
                font-size: 38px;
            }
            & .text{
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin stapSection-mixin-max-md() {
    .stapSection{
        & .head{
            font-size: 28px;
            line-height: 34px;
        }
        & .stapImg{
         
        }
        & .stapContent{
            & .heading{
                font-size: 32px;
                line-height: 38px;
            }
            & .text{
              
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin stapSection-mixin-max-sm() {
    .stapSection{
        & .head{
            font-size: 25px;
            line-height: 32px;
        }
        & .stapImg{
         
        }
        & .stapContent{
            & .heading{
                font-size: 28px;
                line-height: 35px;
            }
            & .text{
              font-size: 14px;
              line-height: 23px;
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin stapSection-mixin-max-xs() {
    .stapSection{
        & .stapImg{
        
        }
        & .stapContent{
            & .heading{
                font-size: 26px;
                line-height: 33px;
            }
            & .text{
              font-size: 13px;
            }
        }
    }
}

// mobileSection
.mobileSection{
    & .head{
        font-size: 48px;
        line-height: 62px;
        & .icon{
            top: -22px;
        }
    }
    & .text{
        font-size: 18px;
        line-height: 25px;
    }
    & .mobileSectionBtn{
        & .heroBtn{
            background-color: #0F0F0F !important;
        }
    }
    & .mobileUsers{
        & .hoverImg{
            transition: all 0.3s ease-in-out;
             &:hover{
            transform: scale(1.1);
            }
        
       }
 
        & .user1{
            width: 130px;
            height: 130px;
            top: 0;
            right: 55px;
        }
        & .user2{
            width: 220px;
            height: 220px;
            top: 90px;
            right: 190px;
        }
        & .user3{
            width: 160px;
            height: 160px;
            top: 160px;
            right: 10px;
        }
        & .user4{
            width: 199px;
            height: 200px;
            bottom: 0px;
            right: 123px;
        }
        & .user5{
            width: 60px;
            height: 60px;
            bottom: 100px;
            right: 25px;
            animation-name: float_down_up;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            @keyframes float_down_up {
                0% {
                    transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1
                }
            
                50% {
                    transform: translateY(-30px);
                    transform: translateY(-30px);
                    opacity: 1
                }
            
                100% {
                    transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1
                }

        }
    }
        & .user6{
            width: 135px;
            height:135px;
            top: 20px;
        }
        & .user7{
            width: 120px;
            height: 120px;
            top: 180px;
            left: 30px;
        }
        & .user8{
            width: 220px;
            height: 220px;
            bottom: 0px;
            left: 20px;
        }
        & .user9{
            width: 180px;
            height: 180px;
            top: 200px;
            right: 33px;
        }
        & .user10{
            width: 140px;
            height: 140px;
            top: 50px;
            right: 88px;
        }
        & .user11{
            width: 60px;
            height: 60px;
            top: 175px;
            left: 157px;
            animation-name: float_down_up;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            @keyframes float_down_up {
                0% {
                    transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1
                }
            
                50% {
                    transform: translateY(-30px);
                    transform: translateY(-30px);
                    opacity: 1
                }
            
                100% {
                    transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1
                }

        }
        }
        & .user12{
            width: 60px;
            height: 60px;
            top: 0px;
            right: 218px;
            animation-name: float_up_down;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            @keyframes float_up_down {
                0% {
                    transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1;
                }
            
                50% {
                    transform: translateY(30px);
                    transform: translateY(30px);
                    opacity: 1;
                }
            
                100% {
                    transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1;
                }
    
            }
        }
        

    }
    & .mobileImg{
        width: 100%;
        height: 520px;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin mobileSection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin mobileSection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin mobileSection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin mobileSection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin mobileSection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin mobileSection-mixin-max-xl() {
    .mobileSection{
        & .head{
     
            & .icon{
             
            }
        }
        & .text{
         
        }
        & .mobileSectionBtn{
            & .heroBtn{
              
            }
        }
        & .mobileUsers{
            & .hoverImg{
             
                 &:hover{
              
                }
            
           }
     
            & .user1{
          
            }
            & .user2{
             
            }
            & .user3{
             
            }
            & .user4{
            
            }
            & .user5{
             
           
        }
            & .user6{
               
            }
            & .user7{
              
            }
            & .user8{
        
            }
            & .user9{
          
            }
            & .user10{
             
            }
            & .user11{
               
    
         
            }
            & .user12{
              
            }
            
        }
        & .mobileImg{
         
        }
    }

}
// Large devices (desktops, less than 1200px)
@mixin mobileSection-mixin-max-lg() {
    .mobileSection{
        & .head{
            font-size: 35px;
            line-height: 42px;
            & .icon{
             
            }
        }
        & .text{
            font-size: 17px;
            line-height: 25px;
        }
        & .mobileSectionBtn{
            & .heroBtn{
              
            }
        }
        & .mobileUsers{
            & .hoverImg{
             
                 &:hover{
              
                }
            
           }
     
            & .user1{
                width: 90px;
                height: 90px;
                top: 0;
                right: 33px;
            }
            & .user2{
                width: 198px;
                height: 196px;
                right: 151px;
            }
            & .user3{
                width: 120px;
                height: 120px;
                top: 117px;
             
            }
            & .user4{
                width: 150px;
                height: 150px;
                bottom: 0px;
                right: 75px;
            }
            & .user5{
             
           
        }
            & .user6{
                width: 90px;
                height: 90px;
            }
            & .user7{
                width: 100px;
                height: 100px;
                top: 120px;
                left: 30px;
            }
            & .user8{
                width: 180px;
                height: 180px;
            }
            & .user9{
                width: 120px;
                height: 120px;
                top: 200px;
                right: 22px;
            }
            & .user10{
                width: 120px;
                height: 120px;
                top: 50px;
                right: 64px;
            }
            & .user11{
               
    
         
            }
            & .user12{
                right: 198px;
            }
            
        }
        & .mobileImg{
            height: 436px;
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin mobileSection-mixin-max-md() {
    .mobileSection{
        & .head{
     
            & .icon{
             
            }
        }
        & .text{
         
        }
        & .mobileSectionBtn{
            & .heroBtn{
              
            }
        }
        & .mobileUsers{
            & .hoverImg{
             
                 &:hover{
              
                }
            
           }
     
            & .user1{
          
            }
            & .user2{
             
            }
            & .user3{
             
            }
            & .user4{
            
            }
            & .user5{
             
           
        }
            & .user6{
               
            }
            & .user7{
              
            }
            & .user8{
        
            }
            & .user9{
          
            }
            & .user10{
             
            }
            & .user11{
               
    
         
            }
            & .user12{
              
            }
            
        }
        & .mobileImg{
         
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin mobileSection-mixin-max-sm() {
    .mobileSection{
        & .head{
     font-size: 32px;
     line-height: 40px;
            & .icon{
             
            }
        }
        & .text{
            font-size: 16px;
            line-height: 25px;
        }
        & .mobileSectionBtn{
            & .heroBtn{
              
            }
        }
        & .mobileUsers{
            & .hoverImg{
             
                 &:hover{
              
                }
            
           }
     
            & .user1{
          
            }
            & .user2{
             
            }
            & .user3{
             
            }
            & .user4{
            
            }
            & .user5{
             
           
        }
            & .user6{
               
            }
            & .user7{
              
            }
            & .user8{
        
            }
            & .user9{
          
            }
            & .user10{
             
            }
            & .user11{
               
    
         
            }
            & .user12{
              
            }
            
        }
        & .mobileImg{
         
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin mobileSection-mixin-max-xs() {
    .mobileSection{
        & .head{
            font-size: 26px;
            line-height: 33px;
            & .icon{
             
            }
        }
        & .text{
         
        }
        & .mobileSectionBtn{
            & .heroBtn{
                width: 225px;
                height: 50px;
            }
        }
        & .mobileSectionImg{
           
        }
        & .mobileUsers{
            & .hoverImg{
             
                 &:hover{
              
                }
            
           }
     
            & .user1{
          
            }
            & .user2{
             
            }
            & .user3{
             
            }
            & .user4{
            
            }
            & .user5{
             
           
        }
            & .user6{
               
            }
            & .user7{
              
            }
            & .user8{
        
            }
            & .user9{
          
            }
            & .user10{
             
            }
            & .user11{
               
    
         
            }
            & .user12{
              
            }
            
        }
        & .mobileImg{
         
        }
    }
}

// testimonialSliser

.testimonialSection{
    & .head{
        font-size: 48px;
        line-height: 62px;
        & .icon{
            top: -22px;
        }
    }
    & .testimonialOwl{
    & .owl-stage-outer {
            padding: 0;
        }
        & .testimonialCard{
          
            & .testimonialBox{
                background-color: $theme1;
                height:270px !important;
                width: 100%;
    
                & .sliderText{
                    font-size: 22px;
                    line-height: 28px;
                    display: -webkit-box;
                    max-width: 400px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin testimonialSection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin testimonialSection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin testimonialSection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin testimonialSection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin testimonialSection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin testimonialSection-mixin-max-xl() {
    .testimonialSection{
        & .head{
        
            & .icon{
              
            }
        }
        & .testimonialOwl{
        & .owl-stage-outer {
              
            }
            & .testimonialCard{
              
                & .testimonialBox{
                  
        
                    & .sliderText{
                      
                    }
                }
            }
        }
    }

}
// Large devices (desktops, less than 1200px)
@mixin testimonialSection-mixin-max-lg() {
    .testimonialSection{
        & .head{
            font-size: 35px;
            line-height: 42px;
            & .icon{
               
            }
        }
        & .testimonialOwl{
        & .owl-stage-outer {
                
            }
            & .testimonialCard{
              
                & .testimonialBox{
                 
        
                    & .sliderText{
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin testimonialSection-mixin-max-md() {
    .testimonialSection{
        & .head{
           
            & .icon{
               
            }
        }
        & .testimonialOwl{
        & .owl-stage-outer {
                
            }
            & .testimonialCard{
              
                & .testimonialBox{
                    height: 315px !important;
        
                    & .sliderText{
                      
                    }
                }
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin testimonialSection-mixin-max-sm() {
    .testimonialSection{
        & .head{
            font-size: 26px;
            line-height: 35px;
            & .icon{
               
            }
        }
        & .testimonialOwl{
        & .owl-stage-outer {
                
            }
            & .testimonialCard{
              
                & .testimonialBox{
                    height: 260px !important;
        
                    & .sliderText{
                        font-size: 16px;
                        line-height: 27px;
                    }
                }
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin testimonialSection-mixin-max-xs() {
    .testimonialSection{
        & .head{
            font-size: 26px;
            line-height: 33px;
            & .icon{
               
            }
        }
        & .testimonialOwl{
        & .owl-stage-outer {
                
            }
            & .testimonialCard{
             
                & .testimonialBox{
                    height: 180px !important;
        
                    & .sliderText{
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}
@mixin offcanvas-mixin-max-420px(){
    .testimonialSection{
        & .head{
            font-size: 20px;
            line-height: 28px;
            & .icon{
               
            }
        }
        & .testimonialOwl{
        & .owl-stage-outer {
                
            }
            & .testimonialCard{
             
                & .testimonialBox{
                    height: 100px !important;
        
                    & .sliderText{
                        font-size: 12px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}
// makePayment
.makePayment{
    & .qrPaymentImg{
        width: 620px;
        height: auto;
        transition: all 0.7s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
    }
    & .content-container{
        background: rgba(255,255,255,.6);
        // box-shadow: 0 3px 4px #00000010;
        border: 1px solid #ffffff;
        opacity: 1;
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
        z-index: 2;
        margin-left: -203px;
        width: 650px;
        & .subheading{
            font-size: 20px;
        }
        & .heading{
            font-size: 48px;
            line-height: 57px;
        }
    
    }
}

// Small devices (landscape phones, 576px and up)
@mixin makePayment-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin makePayment-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin makePayment-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin makePayment-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin makePayment-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin makePayment-mixin-max-xl() {
    .makePayment{
        & .qrPaymentImg{
         
            &:hover{
               
            }
        }
        & .content-container{
        
            & .subheading{
              
            }
            & .heading{
               
            }
        
        }
    }

}
// Large devices (desktops, less than 1200px)
@mixin makePayment-mixin-max-lg() {
    .makePayment{
        & .qrPaymentImg{
         
            &:hover{
               
            }
        }
        & .content-container{
        
            & .subheading{
                font-size: 19px;
            }
            & .heading{
                font-size: 38px;
                line-height: 46px;
            }
        
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin makePayment-mixin-max-md() {
    .makePayment{
        & .qrPaymentImg{
         width: 100%;
            &:hover{
               
            }
        }
        & .content-container{
            margin-left: 0px;
            width: 100%;
            & .subheading{
              
            }
            & .heading{
                font-size: 36px;
                line-height: 39px;
            }
        & .heroBtn{
            width: 281px;
        }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin makePayment-mixin-max-sm() {
    .makePayment{
        & .qrPaymentImg{
         
            &:hover{
               
            }
        }
        & .content-container{
        
            & .subheading{
              
            }
            & .heading{
               
            }
        
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin makePayment-mixin-max-xs() {
    .makePayment{
        & .qrPaymentImg{
         
            &:hover{
               
            }
        }
        & .content-container{
        
            & .subheading{
              font-size: 18px;
            }
            & .heading{
               font-size: 28px;
               line-height: 35px;
            }
        & .heroBtn{
            width: 255px;
            height: 50px;
        }
        }
    }
}

// instagram
.instagram{
    & .head{
        font-size: 48px;
        line-height: 62px;
        & .icon{
            & img{
                position: absolute;
                top: -4px;
            }
        }
    }
    & .instagramOwl{
        & .item{
            & .instaImg{
                transition: all 0.3s ease-in-out;
                &:hover{
                    transform: scale(0.9);
                }
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@mixin instagram-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin instagram-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin instagram-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin instagram-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin instagram-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin instagram-mixin-max-xl() {
    .instagram{
        & .head{
       
            & .icon{
              
            }
        }
        & .instagramOwl{
            & .item{
                & .instaImg{
                
                    &:hover{
                        
                    }
                }
            }
        }
    }

}
// Large devices (desktops, less than 1200px)
@mixin instagram-mixin-max-lg() {
    .instagram{
        & .head{
            font-size: 35px;
            line-height: 42px;
            & .icon{
              
            }
        }
        & .heroBtn{
            width: 300px;
        }
        & .instagramOwl{
            & .item{
                & .instaImg{
                
                    &:hover{
                        
                    }
                }
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin instagram-mixin-max-md() {
    .instagram{
        & .head{
       
            & .icon{
              
            }
        }
        & .instagramOwl{
            & .item{
                & .instaImg{
                
                    &:hover{
                        
                    }
                }
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin instagram-mixin-max-sm() {
    .instagram{
        & .head{
       
            & .icon{
              
            }
        }
        & .instagramOwl{
            & .item{
                & .instaImg{
                
                    &:hover{
                        
                    }
                }
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin instagram-mixin-max-xs() {
    .instagram{
        & .head{
            font-size: 26px;
            line-height: 33px;
            & .icon{
              
            }
        }
        & .heroBtn{
            width: 250px;
            height: 50px;
        }
        & .instagramOwl{
            & .item{
                & .instaImg{
                
                    &:hover{
                        
                    }
                }
            }
        }
    }
}
// marqueeSection
.marqueeSection{
        & .servicesTicker{
            height: 103px;
            background-color: $theme1;
       
            & .marqueeImg{
                width: 248px;
                height: 100%;
                // -webkit-animation: loop 20s infinite linear;
                // animation: loop 5s infinite linear;
            //    transform:  translate(176.493%, 0%) translate3d(0px, 0px, 0px);
            }
        }
        // @keyframes loop {
        //     100% {
        //       -webkit-transform: translateX(-100%);
        //       transform: translateX(-100%);
        //     }
        //   }
    
}



// becomeSection
.becomeSection{
    & .starImg{
        width: 180px;
        height: 180px;
    }
    & .becomeImgHero{
        height: 100%;
        width: 303px;
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(0.9);
        }
    }
    & .heroContent{
        font-size: 17px;
        line-height: 21px;
    }
    & .text{
        font-size: 14px;
        line-height: 22px;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin becomeSection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin becomeSection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin becomeSection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin becomeSection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin becomeSection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin becomeSection-mixin-max-xl() {
    .becomeSection{
        & .heroContent{
         
        }
        & .text{
          
        }
    }

}
// Large devices (desktops, less than 1200px)
@mixin becomeSection-mixin-max-lg() {
    .becomeSection{
        & .starImg{
        
        }
        & .becomeImgHero{
            width: 230px;
            &:hover{
            }
        }
        & .heroContent{
         
        }
        & .text{
          
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin becomeSection-mixin-max-md() {
    .becomeSection{
        & .head{
            font-size: 30px;
            line-height: 36px;
        }
        & .starImg{
       
        }
        & .becomeImgHero{
            width: 310px;
           
            &:hover{
                
            }
        }
        & .heroContent{
           
        }
        & .text{
          
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin becomeSection-mixin-max-sm() {
    .becomeSection{
        & .head{
            font-size: 28px;
            line-height: 37px;
        }
        & .starImg{
       
        }
        & .becomeImgHero{
            width: 280px;
           
            &:hover{
                
            }
        }
        & .heroContent{
         
        }
        & .text{
          
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin becomeSection-mixin-max-xs() {
    .becomeSection{
        & .heroContent{
         
        }
        & .text{
          
        }
    }
}
// formsubmitsection
.formsubmitsection{
    & .card{
        & .cardSection{
            position: relative;
            &::before{
                position: absolute;
                content: "";
                border: 1px solid #6643a3;
                width: 78%;
                height: 1px;
                right:80px ;
            }
            & .dotsLine{
             
             
                & .dotCircle{
                    & li{
                        width: 20px;
                        height: 20px;
                        border: 1px solid $theme2;
                        position: relative;
                   
                    }
                }
            }
            & .topImage{
                right: 10px;
                max-width: 237px;
            }
            & .heartImage{
                position: absolute;
                top: 0;
                right: 0;
                max-width: 100px;
                transform: translate(-242px, -110px);
            
            }
        }
        & .card-body{
            & .heading{
                font-size: 24px;
            }
            & .text{
                font-size: 14px;

            }
            & .form-control{
                border: 1px solid $black;
                line-height: 24px;
                font-size: 14px;
                &:focus{
                    border-color:$black ;
                }
            }
            & .SocialMediaLinks{
              & .form-label{
                font-size: 14px;
              }
                & .text{
                    font-size: 10px;
                }
            }
            & .heroBtn{
                width: 256px;
                height: 41px;
            }

        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin formsubmitsection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin formsubmitsection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin formsubmitsection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin formsubmitsection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin formsubmitsection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin formsubmitsection-mixin-max-xl() {
    .formsubmitsection{
        & .card{
            & .cardSection{
           
                &::before{
                }
                & .dotsLine{
                 
                 
                    & .dotCircle{
                        & li{
                       
                        }
                    }
                }
                & .topImage{
                    
                }
                & .heartImage{
                
                }
            }
            & .card-body{
                & .heading{
                
                }
                & .text{
                }
                & .form-control{
                 
                    &:focus{
                      
                    }
                }
                & .SocialMediaLinks{
                  & .form-label{
                 
                  }
                    & .text{
                     
                    }
                }
                & .heroBtn{
                   
                }
    
            }
        }
    }
    

}
// Large devices (desktops, less than 1200px)
@mixin formsubmitsection-mixin-max-lg() {
    .formsubmitsection{
        & .card{
            & .cardSection{
           
                &::before{
                    width: 74%;
                }
                & .dotsLine{
                 
                 
                    & .dotCircle{
                        & li{
                       
                        }
                    }
                }
                & .topImage{
                    
                }
                & .heartImage{
                
                }
            }
            & .card-body{
                & .heading{
                
                }
                & .text{
                }
                & .form-control{
                 
                    &:focus{
                      
                    }
                }
                & .SocialMediaLinks{
                  & .form-label{
                 
                  }
                    & .text{
                     
                    }
                }
                & .heroBtn{
                   
                }
    
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin formsubmitsection-mixin-max-md() {
    .formsubmitsection{
        & .card{
            & .cardSection{
           
                &::before{
                    width: 62%;
                }
                & .dotsLine{
                 
                 
                    & .dotCircle{
                        & li{
                       
                        }
                    }
                }
                & .topImage{
                    max-width: 217px;
                }
                & .heartImage{
                
                }
            }
            & .card-body{
                & .heading{
                
                }
                & .text{
                }
                & .form-control{
                 
                    &:focus{
                      
                    }
                }
                & .SocialMediaLinks{
                  & .form-label{
                 
                  }
                    & .text{
                     
                    }
                }
                & .heroBtn{
                   
                }
    
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin formsubmitsection-mixin-max-sm() {
    .formsubmitsection{
        & .card{
            & .cardSection{
           
                &::before{
                }
                & .dotsLine{
                 
                 
                    & .dotCircle{
                        & li{
                       
                        }
                    }
                }
                & .topImage{
                    
                }
                & .heartImage{
                    max-width: 49px;
                
                }
            }
            & .card-body{
                & .heading{
                
                }
                & .text{
                }
                & .form-control{
                 
                    &:focus{
                      
                    }
                }
                & .SocialMediaLinks{
                  & .form-label{
                 
                  }
                    & .text{
                     
                    }
                }
                & .heroBtn{
                   
                }
    
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin formsubmitsection-mixin-max-xs() {
    .formsubmitsection{
        & .card{
            & .cardSection{
           
                &::before{
                    width: 57%;
                }
                & .dotsLine{
                 
                 
                    & .dotCircle{
                        & li{
                       
                        }
                    }
                }
                & .topImage{
                    max-width: 166px;
                }
                & .heartImage{
                    transform: translate(-173px, -103px);
                     width: 30px;
                     height: 30px;
                }
            }
            & .card-body{
                & .heading{
                    font-size: 20px;
                    line-height: 29px;
                }
                & .text{
                }
                & .form-control{
                 
                    &:focus{
                      
                    }
                }
                & .SocialMediaLinks{
                  & .form-label{
                 
                  }
                    & .text{
                     
                    }
                }
                & .heroBtn{
                   
                }
    
            }
        }
    }
}
// accoidenSection
.accoidenSection{
    & .accoidenImg{

    }
    & .accordion{
        & .accordion-item {
            & .accordion-header{
                & .accordion-button{
                    font-size: 27px;
                    line-height: 38px;
                    color: $theme1;
                    &::after{
                        background-image: url(../img/Main-page/plus.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 15px;
                        width: 15px;
                    }
                    &:not(.collapsed)::after {
                        content: '';
                        background: url(../img/Main-page/minus.svg);
                         height: 4px;
                         width: 18px;
                         border-radius: 20px;
                         background-size: cover;
                         background-position: center;
                      }
                      &:not(.collapsed) {
                        background-color: transparent ;
                        color: $theme1;
                      }
                }
            }
        }
    }
}


// Small devices (landscape phones, 576px and up)
@mixin accoidenSection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin accoidenSection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin accoidenSection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin accoidenSection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin accoidenSection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin accoidenSection-mixin-max-xl() {
    .accoidenSection{
        & .accoidenImg{
    
        }
        & .accordion{
            & .accordion-item {
                & .accordion-header{
                    & .accordion-button{
                  
                        &::after{
                     
                        }
                        &::not(.collapsed)::after{
                       
                        }
                    }
                }
            }
        }
    }
    

}
// Large devices (desktops, less than 1200px)
@mixin accoidenSection-mixin-max-lg() {
    .accoidenSection{
        & .accoidenImg{
    
        }
        & .accordion{
            & .accordion-item {
                & .accordion-header{
                    & .accordion-button{
                  
                        &::after{
                     
                        }
                        &::not(.collapsed)::after{
                       
                        }
                    }
                }
            }
        }
    }
    
}
// Medium devices (tablets, less than 992px)
@mixin accoidenSection-mixin-max-md() {
    .accoidenSection{
        & .accoidenImg{
    
        }
        & .accordion{
            & .accordion-item {
                & .accordion-header{
                    & .accordion-button{
                        font-size: 22px;
                        line-height: 34px;
                        &::after{
                     
                        }
                        &::not(.collapsed)::after{
                       
                        }
                    }
                }
            }
        }
    }
    
}
// Small devices (landscape phones, less than 768px)
@mixin accoidenSection-mixin-max-sm() {
    .accoidenSection{
        & .accoidenImg{
    
        }
        & .accordion{
            & .accordion-item {
                & .accordion-header{
                    & .accordion-button{
                        font-size: 18px;
                        line-height: 27px;
                        &::after{
                     
                        }
                        &::not(.collapsed)::after{
                       
                        }
                    }
                }
            }
        }
    }
    
}
// X-Small devices (portrait phones, less than 576px)
@mixin accoidenSection-mixin-max-xs() {
    .accoidenSection{
        & .accoidenImg{
    
        }
        & .accordion{
            & .accordion-item {
                & .accordion-header{
                    & .accordion-button{
                        font-size: 16px;
                        line-height: 25px;
                        &::after{
                     
                        }
                        &::not(.collapsed)::after{
                       
                        }
                    }
                }
            }
        }
    }
    
}


// Terms of Use
.terms{
    & .head{
        font-size: 64px;
    }
}