

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba($black, 0);
}
::-webkit-scrollbar {
  width: 6px;
  background-color: rgba($black, 0);
}
::-webkit-scrollbar-thumb {
  background-color: $theme2;
}

// custom class 
.hero-title{
  font-size: 28px;
  & span{
      color: $theme1;
  }
}

.sub-heading{
  font-size: 24px;
  & span{
    color: $theme1;
}
}
.main-heading{
  font-size: 36px;
  & span{
    color: $theme1;
  }
}
.pera{
  font-size: 14px;
}
.Sub-title-heading{
  font-size: 17px;

}
.theme1Heading{
  color: $theme1;
  font-size: 16px;
}
.theme2Heading{
  color: $theme2;
  font-size: 16px;
}
.icon{
  height: 24px;
  width: 24px;
}